<mat-card class="column is-half-desktop is-full-mobile is-offset-one-quarter-desktop" >
  <mat-card-title>Forgot</mat-card-title>
  <mat-card-subtitle>This form is to reset your password</mat-card-subtitle>
  <mat-card-content>
    <form action="" [formGroup]="forgotForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email"
               matInput
               placeholder="Ex. John@gmail.com"
               formControlName="email"
               required
               [ngClass]="{'is-danger': forgotForm.controls.email.invalid &&
                           (
                           forgotForm.controls.email.dirty ||
                           forgotForm.controls.email.touched &&
                           forgotForm.controls.email.errors?.required)}">
        <mat-error *ngIf="this.forgotForm.controls.email.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" [disabled]="this.forgotForm.invalid" (keydown.enter)="sendForgotEmail()" (click)="sendForgotEmail()">SEND</button>
  </mat-card-actions>
</mat-card>
