<body>
<main>

  <h1 class="faq-heading">FAQ'S</h1>
  <mat-divider class="mb-6"></mat-divider>
  <section class="faq-container">

    <div class="faq-two">

      <!-- faq question -->
      <h1 class="faq-page"> What is this platform about?</h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>•&nbsp; Welcome to <b>Plugge Capital</b>'s financial platform! Plugge Captial help young enterpreuers do their financial working.
        You can input your invoices to the platform and see whether your financial status is good in more easily way.
        Also, you can check your assets and liabilities(tax to pay etc.). If you're curious about our company,
          You can find more information in <a>www.pluggecapital.com</a></p>
      </div>
    </div>
    <hr class="hr-line">


    <div class="faq-three">

      <!-- faq question -->
      <h1 class="faq-page"> What is the overall usage of the platform?</h1>

      <!-- faq answer -->
      <div class="faq-body">
        <p>•&nbsp;If you click "Invoice tables", You can input invoice information of company your dealing with. Write down
          Company name, Starting Balance, And Starting/End date. If you click the card on the left side, you can
          add your invoices here. Please click icons on the right side if that invoice or VAT has not been paid yet.
        And it will also show you an alert one week before you have pay Invoice/VAT.</p>
      </div>
    </div>
    <hr class="hr-line">

    <div class="faq-four">

      <!-- faq question -->
      <h1 class="faq-page">Where can I check my invoices?</h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>•&nbsp;You can check your invoices by following : <br>&nbsp;&nbsp;<b>Invices tables > Invoice you made > Overview</b></p>
      </div>
    </div>
    <hr class="hr-line">

    <div class="faq-five">

      <!-- faq question -->
      <h1 class="faq-page">What can I check in each tab? </h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>•&nbsp;<b>Overview</b>:<br> &nbsp;&nbsp;You can add or delete or edit your invoices and also checking it.<br>
          •&nbsp;<b>Balance</b> :<br> &nbsp;&nbsp;It shows your balances according to invoices you enter.<br>
          •&nbsp;<b>Charts</b> :<br> &nbsp;&nbsp;You can see if your company is operating in healty way. You can see your Profit analysis, Income and Expenses for each month, and also where you spend most etc.<br>
          •&nbsp;<b>Memorial</b> :<br> &nbsp;&nbsp;You can see your invoices not have been paid yet<br>
          •&nbsp;<b>Memorial | VAT</b> :<br> &nbsp;&nbsp;You can see your VAT not have been paid yet</p>
      </div>
    </div>
    <hr class="hr-line">

    <div class="faq-six">

      <!-- faq question -->
      <h1 class="faq-page">What currency is applied for in this platform?</h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>•&nbsp;The currency used here is <b>EUR</b>. </p>
      </div>
    </div>
    <hr class="hr-line">

    <div class="faq-seven">

      <!-- faq question -->
      <h1 class="faq-page">How is my data stored?</h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
          necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
          aperiam.
          Perspiciatis, porro!</p>
      </div>
    </div>
    <hr class="hr-line">

    <div class="faq-eight">

      <!-- faq question -->
      <h1 class="faq-page">How long is my data stored?</h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
          necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
          aperiam.
          Perspiciatis, porro!</p>
      </div>
    </div>
    <hr class="hr-line">

    <div class="faq-nine">

      <!-- faq question -->
      <h1 class="faq-page">Can I delete my invoice data?</h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>•&nbsp;Yes, you can delete your invoices. You can add/delete/edit your invoice data in the Overview tab. </p>
      </div>
    </div>
    <hr class="hr-line">

    <div class="faq-ten">

      <!-- faq question -->
      <h1 class="faq-page">There is no question I want, Is there any other contacts?</h1>

      <!-- faq answer -->

      <div class="faq-body">
        <p>•&nbsp;You can send an email to <a>karin@pluggecapital.com</a> or contact <a>06-54674890</a></p>
      </div>
    </div>
    <hr class="hr-line">



  </section>
</main>
</body>
