<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="Home">
      <h1 class="">Financial Platform</h1>
    </a>

    <a role="button" #navBurger (click)="toggleNavbar()" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" #navMenu class="navbar-menu">
    <div class="navbar-start">
      <h3 class="navbar-item pt-3 is-clickable" routerLink="Invoice">
        Invoice tables
      </h3>

          <h3 class="navbar-item pt-3 is-clickable" routerLink="Faq">
            FAQ
          </h3>

<!--      <div class="navbar-item has-dropdown is-hoverable">-->
<!--        <h3 class="navbar-link">-->
<!--          More-->
<!--        </h3>-->

<!--        <div class="navbar-dropdown">-->
<!--          <h3 class="navbar-item">-->
<!--            About-->
<!--          </h3>-->
<!--          <h3 class="navbar-item">-->
<!--            Jobs-->
<!--          </h3>-->
<!--          <h3 class="navbar-item">-->
<!--            Contact-->
<!--          </h3>-->
<!--          <hr class="navbar-divider">-->
<!--          <h3 class="navbar-item">-->
<!--            Report an issue-->
<!--          </h3>-->
<!--        </div>-->
<!--      </div>-->
      </div>
    <div class="navbar-end" *ngIf="!authService.isLoggedIn">
      <div class="navbar-item">
        <div class="buttons">
          <button mat-raised-button [color]="'primary'" routerLink="Login">Login</button>
          <button mat-stroked-button [color]="'primary'" routerLink="Register">Register</button>
        </div>
      </div>
    </div>
    <div class="navbar-end" *ngIf="authService.isLoggedIn">
      <div class="navbar-item">
        <div class="buttons">
          <button mat-mini-fab color="primary" class="mr-1" aria-label="Example icon button with a plus one icon">
            <p class="">{{this.returnUserEmail().charAt(0) | titlecase }}</p>
          </button>
          <a mat-raised-button color="warn" (click)="logout()">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
