<mat-card style="width: 50%; max-width: 600px; margin: auto; margin-top: 10px" >
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>This form is to login to the website</mat-card-subtitle>
  <mat-card-content>
    <form action="" [formGroup]="loginForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email"
               matInput
               placeholder="Ex. John@gmail.com"
               formControlName="email"
               required
               [ngClass]="{'is-danger': loginForm.controls.email.invalid &&
                           (
                           loginForm.controls.email.dirty ||
                           loginForm.controls.email.touched &&
                           loginForm.controls.email.errors?.required)}">
        <mat-error *ngIf="this.loginForm.controls.email.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password"
               matInput
               formControlName="password"
               required
               [ngClass]="{'is-danger': loginForm.controls.password.invalid &&
                           (
                           loginForm.controls.password.dirty ||
                           loginForm.controls.password.touched &&
                           loginForm.controls.password.errors?.required)}">
        <mat-error *ngIf="this.loginForm.controls.password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="this.loginForm.controls.password.value.length < 8">Password must be 8 characters long</mat-error>
      </mat-form-field>
    </form>

    <mat-card-footer>
      <a routerLink="/Forgot" style="margin-left: 20px">Forgot your password?</a>
    </mat-card-footer>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="Login()">LOGIN</button>
    <button mat-raised-button color="accent" routerLink="/Register">REGISTER</button>
  </mat-card-actions>
</mat-card>
