<!--<div class="columns">-->
<div *ngIf="loading" style="position: absolute; background: rgba(0,0,0,0.5); z-index: 2; padding-left: 47%; height: 100%; width: 100%">
  <mat-spinner style="position: absolute; top: 50px; margin: auto"></mat-spinner>
</div>
<mat-tab-group>
  <mat-tab label="Overview">
    <button (click)="addNewInvoice()" *ngIf="editing == false" mat-raised-button color="primary">Add invoice</button>
    <button (click)="addNewInvoice()" *ngIf="editing == true" mat-raised-button color="primary">Close invoice edit</button>
    <div class="" *ngIf="editing">
      <app-invoice-add style="position:fixed; width: 100%; height: 100%" (closeForm)="closeForm()" (updateComponents)="updateComponents()" [editingInvoice]="this.editingInvoice" [loggedInUser]="this.loggedInUser"></app-invoice-add>
    </div>
    <p *ngIf="dataSource.length == 0" class="has-text-centered">There are no invoices yet.</p>
    <table *ngIf="dataSource.length != 0" mat-table [dataSource]="dataSource" style="width: 100%">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef> Period </th>
        <td mat-cell *matCellDef="let element"> {{element.period}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description <a class="is-16x16" matTooltip="Shows 'NEEDS TO BE PAYED' a week in advance."> <mat-icon style="width: 4px; height: 4px">info</mat-icon></a> </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} {{(!element.vat_payed || !element.payed) && element.date <= previousWeekWithPipe? " | NEEDS TO BE PAYED" : ""}} </td>
      </ng-container>
      <ng-container matColumnDef="invoiceNumber">
        <th mat-header-cell *matHeaderCellDef> Invoice number </th>
        <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.cost | currency: "EUR"}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type of cost </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="VAT">
        <th mat-header-cell *matHeaderCellDef> VAT </th>
        <td mat-cell *matCellDef="let element" [matTooltip]="!element.vat_payed? 'Vat has not been payed yet': ''" [ngClass]="element.vat_payed? 'bg-none greyscale-hover': 'bg-red bg-red-hover'"> {{element.VAT}}% </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a (click)="notPayed(element)" matTooltip="Click if the invoice is not payed yet"><mat-icon>not_interested</mat-icon></a>
          <a (click)="vatChange(element)" matTooltip="Click if the vat has not been payed yet"><mat-icon>attach_money</mat-icon></a>
          <a (click)="editInvoice(element)" matTooltip="Click to edit this invoice"><mat-icon>edit</mat-icon></a>
          <a (click)="deleteInvoice(element.uid)" matTooltip="Click this to delete the invoice"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [ngClass]="row.payed? 'bg-none greyscale-hover': 'bg-red bg-red-hover'" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Balance" *ngIf="!loading">
    <balanceSheet [data]="dataSource" [invoiceList]="invoiceList"></balanceSheet>
  </mat-tab>
  <mat-tab label="Charts" *ngIf="!loading">
    <app-charts (updateComponents)="updateComponents()" [data]="dataSource" [invoiceList]="invoiceList"></app-charts>
  </mat-tab>
  <mat-tab label="Memorial" *ngIf="!loading">
    <app-invoice-not-payed (updateComponents)="updateComponents()" [invoiceListId]="this.invoiceListId" [dataSource]="not_payed_invoice" [type]="0"></app-invoice-not-payed>
  </mat-tab>
  <mat-tab label="Memorial | VAT" *ngIf="!loading">
    <app-invoice-not-payed (updateComponents)="updateComponents()" [invoiceListId]="this.invoiceListId" [dataSource]="not_payed_vat_invoice" [type]="1"></app-invoice-not-payed>
  </mat-tab>
</mat-tab-group>

