<!--<div class="columns">-->
<mat-tab-group>
  <mat-tab label="Overview">
    <button (click)="addNewInvoice()" *ngIf="editing == false" mat-raised-button color="primary">Add invoice</button>
    <button (click)="addNewInvoice()" *ngIf="editing == true" mat-raised-button color="primary">Close invoice edit</button>
    <div class="" *ngIf="editing">
      <app-invoice-add [editingInvoice]="this.editingInvoice" [loggedInUser]="this.loggedInUser"></app-invoice-add>
    </div>
    <p *ngIf="dataSource.length == 0" class="has-text-centered">There are no invoices yet.</p>
    <table *ngIf="dataSource.length != 0" mat-table [dataSource]="dataSource" style="width: 100%">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef> Period </th>
        <td mat-cell *matCellDef="let element"> {{element.period}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="invoiceNumber">
        <th mat-header-cell *matHeaderCellDef> Invoice number </th>
        <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.cost | currency: "EUR"}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type of cost </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="VAT">
        <th mat-header-cell *matHeaderCellDef> VAT </th>
        <td mat-cell *matCellDef="let element"> {{element.VAT}}% </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a (click)="notPayed(element)" matTooltip="Click if the invoice is not payed yet"><mat-icon>not_interested</mat-icon></a>
          <a (click)="editInvoice(element)" matTooltip="Click to edit this invoice"><mat-icon>edit</mat-icon></a>
          <a (click)="deleteInvoice(element.uid)" matTooltip="Click this to delete the invoice"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [ngClass]="row.payed? 'bg-none greyscale-hover': 'bg-red bg-red-hover'" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Balance" *ngIf="!loading">
    <balanceSheet [data]="dataSource" [invoiceList]="invoiceList"></balanceSheet>
  </mat-tab>
  <mat-tab label="Charts" *ngIf="!loading">
    <app-charts [data]="dataSource"></app-charts>
  </mat-tab>
  <mat-tab label="Memorial" *ngIf="!loading">
    <app-invoice-not-payed [invoiceListId]="this.invoiceListId" [dataSource]="dataSource"></app-invoice-not-payed>
  </mat-tab>
</mat-tab-group>

