<body>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-7 ">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> Working Capital</p>
          <div class="content" *ngFor="let card of cards">
            <p class="value">• €{{this.cards[0].working}}</p>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> Current Ratio<a matTooltip="Generally, 100% or more is Good, 200% or more is Excellent, and less than 50% is Risky in terms of liquidity"><mat-icon>info</mat-icon></a></p>
          <div class="content">
            <p class="value">• {{this.cards[0].current_ratio}}({{this.cards[0].current}}%)</p>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> Equity Ratio</p>
          <div class="content">
            <p class="value">• {{this.cards[0].equity_ratio.toFixed(1)}}%</p>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title"> Debt Equity<a matTooltip="Usually it should not exceed 200%"><mat-icon>info</mat-icon></a></p>
          <div class="content">
            <p class="value">• {{this.cards[0].debt_ratio}}({{this.cards[0].debt}}%)</p>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-vertical">
      <div class="tile">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div echarts [options]="option1" class="demo-echarts1" style="height:250px;">
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div echarts [options]="option2" class="demo-echarts2" style="height:250px;">
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <div echarts [options]="options" class="demo-echarts" style="height:310px;">
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <table mat-table [dataSource]="Balance" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="euro">
          <th mat-header-cell *matHeaderCellDef> Euro </th>
          <td mat-cell *matCellDef="let element"> {{element.euro}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let index= dataIndex;" [ngClass]="{alternate:index==1}"></tr>
      </table>
    </article>
  </div>
</div>


</body>
