<mat-form-field>
  <mat-select [(ngModel)]="selectedValue">
    <mat-option *ngFor="let cost of this.costs" [value]="cost.cost">
      {{cost.type}}
    </mat-option>
  </mat-select>
</mat-form-field>
the cost was: {{selectedValue}}
<table class="table is-fullwidth">
  <thead>
  <tr>
    <td>Name</td>
    <td>Value</td>
    <td>Sum</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th><ins>ASSET</ins></th>
  </tr>
  <tr>
    <th><ins>FIXED ASSETS</ins></th>
  </tr>
  <tr>
    <td><ins>Tangible Fixed Asset</ins></td>
  </tr>
  <tr>
    <td>Inventory</td>
    <td>0</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <th><ins>CURRENT ASSETS</ins></th>
  </tr>
  <tr>
    <td><ins>Receivables</ins></td>
  </tr>
  <tr>
    <td>Trade debators</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Still to facurate</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Sales to tax</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Other receivables and assets</td>
    <td>0</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>0</td>
  </tr>
  <tr>
    <td><ins>Liquid assets</ins></td>
    <td></td>
    <td>9674</td>
  </tr>
  <tr>
    <td><ins>Total Asset side</ins></td>
    <td></td>
    <td>9674</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th><ins>LIABILITIES</ins></th>
  </tr>
  <tr>
    <th><ins>BUSINESS CAPACITY</ins></th>
  </tr>
  <tr>
    <td>Own capital</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Result last year</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Result current year</td>
    <td>7994</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>7994</td>
  </tr>
  <tr>
    <th><ins>CURRENT LIABILITIES</ins></th>
  </tr>
  <tr>
    <td>Debts to suppliers and trade credits</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Sales tax</td>
    <td>1680</td>
  </tr>
  <tr>
    <td>Other payable and accruals</td>
    <td>0</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>1680</td>
  </tr>
  <tr></tr>
  <tr>
    <td><ins>Total liability side</ins></td>
    <td></td>
    <td>9674</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr class="is-selected">
    <td>Check</td>
    <td>0</td>
  </tr>

  </tbody>
</table>
