<form action="" class="column is-flex is-flex-direction-column" [formGroup]="invoiceForm">
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input type="date"
           matInput
           placeholder=""
           formControlName="date"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Period</mat-label>
    <input type="text"
             matInput
             placeholder=""
             formControlName="period"
             required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text"
           matInput
           formControlName="name"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input type="text"
           matInput
           formControlName="description"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Invoice number</mat-label>
    <input type="text"
           matInput
           formControlName="invoiceNumber"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cost</mat-label>
    <input type="number"
           matInput
           formControlName="cost"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input type="text"
           matInput
           formControlName="type"
           [matAutocomplete]="auto"
           required>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>VAT</mat-label>
    <input type="number"
           matInput
           formControlName="VAT"
           required>
  </mat-form-field>
  <button mat-raised-button (click)="submit()" [disabled]="!invoiceForm.valid" color="primary">SUBMIT</button>
  <button (click)="clearForm()" mat-raised-button color="accent" matTooltip="Click this to create a new company invoice list">CLEAR</button>
</form>
